Docs/Schemas/ответ-получение результата импорта 1 заявления.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xs="http://www.w3.org/2001/XMLSchema"
           xmlns:xsd="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified"
           attributeFormDefault="unqualified">
  <xs:complexType name="TError">
    <xs:all>
      <xs:element name="ErrorCode" minOccurs="1">
        <xs:annotation>
          <xs:documentation>Код ошибки</xs:documentation>
        </xs:annotation>
        <xs:simpleType>
          <xs:restriction base="xs:string" />
        </xs:simpleType>
      </xs:element>
      <xs:element name="ErrorText" minOccurs="1">
        <xs:annotation>
          <xs:documentation>Текст ошибки</xs:documentation>
        </xs:annotation>
        <xs:simpleType>
          <xs:restriction base="xs:string" />
        </xs:simpleType>
      </xs:element>
    </xs:all>
  </xs:complexType>
  <xs:simpleType name="TUID">
    <xs:restriction base="xs:string">
      <xs:maxLength value="200" />
    </xs:restriction>
  </xs:simpleType>
  <xs:complexType name="TErrorInfo">
    <xs:sequence>
      <xs:element name="ErrorCode">
        <xs:annotation>
          <xs:documentation>Код ошибки</xs:documentation>
        </xs:annotation>
        <xs:simpleType>
          <xs:restriction base="xs:unsignedInt" />
        </xs:simpleType>
      </xs:element>
      <xs:element name="Message">
        <xs:annotation>
          <xs:documentation>Текст ошибки</xs:documentation>
        </xs:annotation>
        <xs:simpleType>
          <xs:restriction base="xs:string" />
        </xs:simpleType>
      </xs:element>
      <xs:element name="ConflictItemsInfo" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Сведения о связанных (конфликтных) данных</xs:documentation>
        </xs:annotation>
        <xs:complexType>
          <xs:all>
            <xs:element name="Applications" minOccurs="0">
              <xs:annotation>
                <xs:documentation>Заявления</xs:documentation>
              </xs:annotation>
              <xs:complexType>
                <xs:sequence>
                  <xs:element name="Application" maxOccurs="unbounded">
                    <xs:annotation>
                      <xs:documentation>Заявление</xs:documentation>
                    </xs:annotation>
                    <xs:complexType>
                      <xs:all>
                        <xs:element name="ApplicationNumber">
                          <xs:annotation>
                            <xs:documentation>Номер заявления</xs:documentation>
                          </xs:annotation>
                          <xs:simpleType>
                            <xs:restriction base="xs:string">
                              <xs:length value="50" />
                            </xs:restriction>
                          </xs:simpleType>
                        </xs:element>
                        <xs:element name="RegistrationDate">
                          <xs:annotation>
                            <xs:documentation>Дата регистрации заявления</xs:documentation>
                          </xs:annotation>
                          <xs:simpleType>
                            <xs:restriction base="xs:dateTime" />
                          </xs:simpleType>
                        </xs:element>
                        <xs:element name="UID" type="TUID" minOccurs="0">
                          <xs:annotation>
                            <xs:documentation>Идентификатор в ИС ОУ</xs:documentation>
                          </xs:annotation>
                        </xs:element>
                      </xs:all>
                    </xs:complexType>
                  </xs:element>
                </xs:sequence>
              </xs:complexType>
            </xs:element>


            <xs:element name="EntranceTestResults" minOccurs="0">
              <xs:annotation>
                <xs:documentation>Результаты вступительных испытаний</xs:documentation>
              </xs:annotation>
              <xs:complexType>
                <xs:sequence>
                  <xs:element name="EntranceTestsResultID" maxOccurs="unbounded">
                    <xs:annotation>
                      <xs:documentation>ИД вступительного испытания</xs:documentation>
                    </xs:annotation>
                    <xs:simpleType>
                      <xs:restriction base="xs:unsignedInt" />
                    </xs:simpleType>
                  </xs:element>
                  <xs:element name="UID" type="TUID" minOccurs="0">
                    <xs:annotation>
                      <xs:documentation>Идентификатор в ИС ОУ</xs:documentation>
                    </xs:annotation>
                  </xs:element>
                </xs:sequence>
              </xs:complexType>
            </xs:element>
            <xs:element name="ApplicationCommonBenefits" minOccurs="0">
              <xs:annotation>
                <xs:documentation>Общие льготы, предоставленные абитуриентам</xs:documentation>
              </xs:annotation>
              <xs:complexType>
                <xs:sequence>
                  <xs:element name="ApplicationCommonBenefitID">
                    <xs:annotation>
                      <xs:documentation>ИД общей льготы</xs:documentation>
                    </xs:annotation>
                    <xs:simpleType>
                      <xs:restriction base="xs:unsignedInt" />
                    </xs:simpleType>
                  </xs:element>
                  <xs:element name="UID" type="TUID" minOccurs="0">
                    <xs:annotation>
                      <xs:documentation>Идентификатор в ИС ОУ</xs:documentation>
                    </xs:annotation>
                  </xs:element>
                </xs:sequence>
              </xs:complexType>
            </xs:element>
          </xs:all>
        </xs:complexType>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ImportResultPackage">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="PackageID">
          <xs:annotation>
            <xs:documentation>ИД импортированного пакета</xs:documentation>
          </xs:annotation>
          <xs:simpleType>
            <xs:restriction base="xs:unsignedInt" />
          </xs:simpleType>
        </xs:element>
        <xs:element name="Log">
          <xs:annotation>
            <xs:documentation>Лог импорта пакета</xs:documentation>
          </xs:annotation>
          <xs:complexType>
            <xs:sequence>
              <xs:element name="Successful">
                <xs:annotation>
                  <xs:documentation>Сведения о количестве успешно импортированных объектах</xs:documentation>
                </xs:annotation>
                <xs:complexType>
                  <xs:sequence>
                    <xs:element name="Applications">
                      <xs:annotation>
                        <xs:documentation>Количество заявлений</xs:documentation>
                      </xs:annotation>
                      <xs:simpleType>
                        <xs:restriction base="xs:unsignedInt" />
                      </xs:simpleType>
                    </xs:element>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
              <xs:element name="Failed">
                <xs:annotation>
                  <xs:documentation>Сведения о не импортированных объектах</xs:documentation>
                </xs:annotation>
                <xs:complexType>
                  <xs:sequence>
                    <xs:element name="EntranceTestItems" minOccurs="0">
                      <xs:annotation>
                        <xs:documentation>Вступительные испытания конкурсной группы</xs:documentation>
                      </xs:annotation>
                      <xs:complexType>
                        <xs:sequence>
                          <xs:element name="EntranceTestItem" maxOccurs="unbounded">
                            <xs:annotation>
                              <xs:documentation>Вступительное испытание</xs:documentation>
                            </xs:annotation>
                            <xs:complexType>
                              <xs:all>
                                <xs:element name="ErrorInfo" type="TErrorInfo">
                                  <xs:annotation>
                                    <xs:documentation>Сведения об ошибке</xs:documentation>
                                  </xs:annotation>
                                </xs:element>
                                <xs:element name="EntranceTestType">
                                  <xs:annotation>
                                    <xs:documentation>Вид вступительного испытания</xs:documentation>
                                  </xs:annotation>
                                  <xs:simpleType>
                                    <xs:restriction base="xs:string" />
                                  </xs:simpleType>
                                </xs:element>
                                <xs:element name="SubjectName">
                                  <xs:annotation>
                                    <xs:documentation>Дисциплина вступительного испытания</xs:documentation>
                                  </xs:annotation>
                                  <xs:simpleType>
                                    <xs:restriction base="xs:string">
                                      <xs:length value="50" />
                                    </xs:restriction>
                                  </xs:simpleType>
                                </xs:element>
                                <xs:element name="CompetitiveGroupName">
                                  <xs:annotation>
                                    <xs:documentation>Наименование конкурсной группы</xs:documentation>
                                  </xs:annotation>
                                  <xs:simpleType>
                                    <xs:restriction base="xs:string">
                                      <xs:length value="250" />
                                    </xs:restriction>
                                  </xs:simpleType>
                                </xs:element>
                              </xs:all>
                            </xs:complexType>
                          </xs:element>
                        </xs:sequence>
                      </xs:complexType>
                    </xs:element>
                    <xs:element name="CommonBenefit" minOccurs="0">
                      <xs:annotation>
                        <xs:documentation>Сведения об общей льготе (без в.и.) (олимпиада школьников)</xs:documentation>
                      </xs:annotation>
                      <xs:complexType>
                        <xs:sequence>
                          <xs:element name="CommonBenefitItem" maxOccurs="unbounded">
                            <xs:annotation>
                              <xs:documentation>Условие предоставления общей льготы (без в.и.) (олимпиада школьников)</xs:documentation>
                            </xs:annotation>
                            <xs:complexType>
                              <xs:all>
                                <xs:element name="ErrorInfo" type="TErrorInfo">
                                  <xs:annotation>
                                    <xs:documentation>Сведения об ошибке</xs:documentation>
                                  </xs:annotation>
                                </xs:element>
                                <xs:element name="BenefitKindName">
                                  <xs:annotation>
                                    <xs:documentation>Наименование вида льготы</xs:documentation>
                                  </xs:annotation>
                                  <xs:simpleType>
                                    <xs:restriction base="xs:string" />
                                  </xs:simpleType>
                                </xs:element>
                                <xs:element name="CompetitiveGroupName">
                                  <xs:annotation>
                                    <xs:documentation>Наименование конкурсной группы</xs:documentation>
                                  </xs:annotation>
                                  <xs:simpleType>
                                    <xs:restriction base="xs:string">
                                      <xs:length value="250" />
                                    </xs:restriction>
                                  </xs:simpleType>
                                </xs:element>
                              </xs:all>
                            </xs:complexType>
                          </xs:element>
                        </xs:sequence>
                      </xs:complexType>
                    </xs:element>
                    <xs:element name="EntranceTestBenefits" minOccurs="0">
                      <xs:annotation>
                        <xs:documentation>Условия предоставления льгот по вступительному испытанию</xs:documentation>
                      </xs:annotation>
                      <xs:complexType>
                        <xs:sequence>
                          <xs:element name="EntranceTestBenefitItem" maxOccurs="unbounded">
                            <xs:annotation>
                              <xs:documentation>Условие предоставления льгот по вступительному испытанию</xs:documentation>
                            </xs:annotation>
                            <xs:complexType>
                              <xs:all>
                                <xs:element name="ErrorInfo" type="TErrorInfo">
                                  <xs:annotation>
                                    <xs:documentation>Сведения об ошибке</xs:documentation>
                                  </xs:annotation>
                                </xs:element>
                                <xs:element name="BenefitKindName">
                                  <xs:annotation>
                                    <xs:documentation>Наименование вида льготы</xs:documentation>
                                  </xs:annotation>
                                  <xs:simpleType>
                                    <xs:restriction base="xs:string" />
                                  </xs:simpleType>
                                </xs:element>
                                <xs:element name="EntranceTestType">
                                  <xs:annotation>
                                    <xs:documentation>Вид вступительного испытания</xs:documentation>
                                  </xs:annotation>
                                  <xs:simpleType>
                                    <xs:restriction base="xs:string" />
                                  </xs:simpleType>
                                </xs:element>
                                <xs:element name="SubjectName">
                                  <xs:annotation>
                                    <xs:documentation>Дисциплина вступительного испытания</xs:documentation>
                                  </xs:annotation>
                                  <xs:simpleType>
                                    <xs:restriction base="xs:string">
                                      <xs:length value="50" />
                                    </xs:restriction>
                                  </xs:simpleType>
                                </xs:element>
                                <xs:element name="CompetitiveGroupName">
                                  <xs:annotation>
                                    <xs:documentation>Наименование конкурсной группы</xs:documentation>
                                  </xs:annotation>
                                  <xs:simpleType>
                                    <xs:restriction base="xs:string">
                                      <xs:length value="250" />
                                    </xs:restriction>
                                  </xs:simpleType>
                                </xs:element>
                              </xs:all>
                            </xs:complexType>
                          </xs:element>
                        </xs:sequence>
                      </xs:complexType>
                    </xs:element>
                    <xs:element name="Applications" minOccurs="0">
                      <xs:annotation>
                        <xs:documentation>Заявления абитуриентов</xs:documentation>
                      </xs:annotation>
                      <xs:complexType>
                        <xs:sequence>
                          <xs:element name="Application" maxOccurs="unbounded">
                            <xs:annotation>
                              <xs:documentation>Заявление абитуриента</xs:documentation>
                            </xs:annotation>
                            <xs:complexType>
                              <xs:all>
                                <xs:element name="ErrorInfo" type="TErrorInfo">
                                  <xs:annotation>
                                    <xs:documentation>Сведения об ошибке</xs:documentation>
                                  </xs:annotation>
                                </xs:element>
                                <xs:element name="ApplicationNumber">
                                  <xs:annotation>
                                    <xs:documentation>Номер заявления</xs:documentation>
                                  </xs:annotation>
                                  <xs:simpleType>
                                    <xs:restriction base="xs:string">
                                      <xs:length value="50" />
                                    </xs:restriction>
                                  </xs:simpleType>
                                </xs:element>
                                <xs:element name="RegistrationDate">
                                  <xs:annotation>
                                    <xs:documentation>Дата регистрации заявления</xs:documentation>
                                  </xs:annotation>
                                  <xs:simpleType>
                                    <xs:restriction base="xs:dateTime" />
                                  </xs:simpleType>
                                </xs:element>
                              </xs:all>
                            </xs:complexType>
                          </xs:element>
                        </xs:sequence>
                      </xs:complexType>
                    </xs:element>
                    <xs:element name="OlympicDocuments" minOccurs="0">
                      <xs:annotation>
                        <xs:documentation>Дипломы победителей/призеров олимпиады школьников</xs:documentation>
                      </xs:annotation>
                      <xs:complexType>
                        <xs:sequence>
                          <xs:element name="OlympicDocument" maxOccurs="unbounded">
                            <xs:annotation>
                              <xs:documentation>Диплом победителя/призера олимпиады школьников</xs:documentation>
                            </xs:annotation>
                            <xs:complexType>
                              <xs:sequence>
                                <xs:element name="ErrorInfo" type="TErrorInfo">
                                  <xs:annotation>
                                    <xs:documentation>Сведения об ошибке</xs:documentation>
                                  </xs:annotation>
                                </xs:element>
                                <xs:element name="DocumentNumber">
                                  <xs:annotation>
                                    <xs:documentation>Номер документа</xs:documentation>
                                  </xs:annotation>
                                  <xs:simpleType>
                                    <xs:restriction base="xs:string">
                                      <xs:length value="50" />
                                    </xs:restriction>
                                  </xs:simpleType>
                                </xs:element>
                                <xs:element name="DocumentDate" minOccurs="0">
                                  <xs:annotation>
                                    <xs:documentation>Дата выдачи документа</xs:documentation>
                                  </xs:annotation>
                                  <xs:simpleType>
                                    <xs:restriction base="xs:date" />
                                  </xs:simpleType>
                                </xs:element>
                                <xs:element name="ApplicationNumber">
                                  <xs:annotation>
                                    <xs:documentation>Номер заявления</xs:documentation>
                                  </xs:annotation>
                                  <xs:simpleType>
                                    <xs:restriction base="xs:string">
                                      <xs:length value="50" />
                                    </xs:restriction>
                                  </xs:simpleType>
                                </xs:element>
                                <xs:element name="RegistrationDate">
                                  <xs:annotation>
                                    <xs:documentation>Дата регистрации заявления</xs:documentation>
                                  </xs:annotation>
                                  <xs:simpleType>
                                    <xs:restriction base="xs:dateTime" />
                                  </xs:simpleType>
                                </xs:element>
                              </xs:sequence>
                            </xs:complexType>
                          </xs:element>
                        </xs:sequence>
                      </xs:complexType>
                    </xs:element>
                    <xs:element name="OlympicTotalDocuments" minOccurs="0">
                      <xs:annotation>
                        <xs:documentation>Дипломы победителей/призеров всероссийской олимпиады школьников</xs:documentation>
                      </xs:annotation>
                      <xs:complexType>
                        <xs:sequence>
                          <xs:element name="OlympicTotalDocument" maxOccurs="unbounded">
                            <xs:annotation>
                              <xs:documentation>Диплом победителя/призера всероссийской олимпиады школьников</xs:documentation>
                            </xs:annotation>
                            <xs:complexType>
                              <xs:sequence>
                                <xs:element name="ErrorInfo" type="TErrorInfo">
                                  <xs:annotation>
                                    <xs:documentation>Сведения об ошибке</xs:documentation>
                                  </xs:annotation>
                                </xs:element>
                                <xs:element name="DocumentNumber">
                                  <xs:annotation>
                                    <xs:documentation>Номер документа</xs:documentation>
                                  </xs:annotation>
                                  <xs:simpleType>
                                    <xs:restriction base="xs:string">
                                      <xs:length value="50" />
                                    </xs:restriction>
                                  </xs:simpleType>
                                </xs:element>
                                <xs:element name="DocumentDate" minOccurs="0">
                                  <xs:annotation>
                                    <xs:documentation>Дата выдачи документа</xs:documentation>
                                  </xs:annotation>
                                  <xs:simpleType>
                                    <xs:restriction base="xs:date" />
                                  </xs:simpleType>
                                </xs:element>
                                <xs:element name="ApplicationNumber">
                                  <xs:annotation>
                                    <xs:documentation>Номер заявления</xs:documentation>
                                  </xs:annotation>
                                  <xs:simpleType>
                                    <xs:restriction base="xs:string">
                                      <xs:length value="50" />
                                    </xs:restriction>
                                  </xs:simpleType>
                                </xs:element>
                                <xs:element name="RegistrationDate">
                                  <xs:annotation>
                                    <xs:documentation>Дата регистрации заявления</xs:documentation>
                                  </xs:annotation>
                                  <xs:simpleType>
                                    <xs:restriction base="xs:dateTime" />
                                  </xs:simpleType>
                                </xs:element>
                              </xs:sequence>
                            </xs:complexType>
                          </xs:element>
                        </xs:sequence>
                      </xs:complexType>
                    </xs:element>
                    <xs:element name="DisabilityDocuments" minOccurs="0">
                      <xs:annotation>
                        <xs:documentation>Справки об установлении инвалидности</xs:documentation>
                      </xs:annotation>
                      <xs:complexType>
                        <xs:sequence>
                          <xs:element name="DisabilityDocument" maxOccurs="unbounded">
                            <xs:annotation>
                              <xs:documentation>Справка об установлении инвалидности</xs:documentation>
                            </xs:annotation>
                            <xs:complexType>
                              <xs:sequence>
                                <xs:element name="ErrorInfo" type="TErrorInfo">
                                  <xs:annotation>
                                    <xs:documentation>Сведения об ошибке</xs:documentation>
                                  </xs:annotation>
                                </xs:element>
                                <xs:element name="DocumentNumber">
                                  <xs:annotation>
                                    <xs:documentation>Номер документа</xs:documentation>
                                  </xs:annotation>
                                  <xs:simpleType>
                                    <xs:restriction base="xs:string">
                                      <xs:length value="50" />
                                    </xs:restriction>
                                  </xs:simpleType>
                                </xs:element>
                                <xs:element name="DocumentDate" minOccurs="0">
                                  <xs:annotation>
                                    <xs:documentation>Дата выдачи документа</xs:documentation>
                                  </xs:annotation>
                                  <xs:simpleType>
                                    <xs:restriction base="xs:date" />
                                  </xs:simpleType>
                                </xs:element>
                                <xs:element name="ApplicationNumber">
                                  <xs:annotation>
                                    <xs:documentation>Номер заявления</xs:documentation>
                                  </xs:annotation>
                                  <xs:simpleType>
                                    <xs:restriction base="xs:string">
                                      <xs:length value="50" />
                                    </xs:restriction>
                                  </xs:simpleType>
                                </xs:element>
                                <xs:element name="RegistrationDate">
                                  <xs:annotation>
                                    <xs:documentation>Дата регистрации заявления</xs:documentation>
                                  </xs:annotation>
                                  <xs:simpleType>
                                    <xs:restriction base="xs:dateTime" />
                                  </xs:simpleType>
                                </xs:element>
                              </xs:sequence>
                            </xs:complexType>
                          </xs:element>
                        </xs:sequence>
                      </xs:complexType>
                    </xs:element>
                    <xs:element name="MedicalDocuments" minOccurs="0">
                      <xs:annotation>
                        <xs:documentation>Заключения психолого-медико-педагогической комиссии</xs:documentation>
                      </xs:annotation>
                      <xs:complexType>
                        <xs:sequence>
                          <xs:element name="MedicalDocument" maxOccurs="unbounded">
                            <xs:annotation>
                              <xs:documentation>Заключение психолого-медико-педагогической комиссии</xs:documentation>
                            </xs:annotation>
                            <xs:complexType>
                              <xs:sequence>
                                <xs:element name="ErrorInfo" type="TErrorInfo">
                                  <xs:annotation>
                                    <xs:documentation>Сведения об ошибке</xs:documentation>
                                  </xs:annotation>
                                </xs:element>
                                <xs:element name="DocumentNumber">
                                  <xs:annotation>
                                    <xs:documentation>Номер документа</xs:documentation>
                                  </xs:annotation>
                                  <xs:simpleType>
                                    <xs:restriction base="xs:string">
                                      <xs:length value="50" />
                                    </xs:restriction>
                                  </xs:simpleType>
                                </xs:element>
                                <xs:element name="DocumentDate" minOccurs="0">
                                  <xs:annotation>
                                    <xs:documentation>Дата выдачи документа</xs:documentation>
                                  </xs:annotation>
                                  <xs:simpleType>
                                    <xs:restriction base="xs:date" />
                                  </xs:simpleType>
                                </xs:element>
                                <xs:element name="ApplicationNumber">
                                  <xs:annotation>
                                    <xs:documentation>Номер заявления</xs:documentation>
                                  </xs:annotation>
                                  <xs:simpleType>
                                    <xs:restriction base="xs:string">
                                      <xs:length value="50" />
                                    </xs:restriction>
                                  </xs:simpleType>
                                </xs:element>
                                <xs:element name="RegistrationDate">
                                  <xs:annotation>
                                    <xs:documentation>Дата регистрации заявления</xs:documentation>
                                  </xs:annotation>
                                  <xs:simpleType>
                                    <xs:restriction base="xs:dateTime" />
                                  </xs:simpleType>
                                </xs:element>
                              </xs:sequence>
                            </xs:complexType>
                          </xs:element>
                        </xs:sequence>
                      </xs:complexType>
                    </xs:element>
                    <xs:element name="AllowEducationDocuments" minOccurs="0">
                      <xs:annotation>
                        <xs:documentation>Заключения об отсутствии противопоказаний для обучения</xs:documentation>
                      </xs:annotation>
                      <xs:complexType>
                        <xs:sequence>
                          <xs:element name="AllowEducationDocument" maxOccurs="unbounded">
                            <xs:annotation>
                              <xs:documentation>Заключение об отсутствии противопоказаний для обучения</xs:documentation>
                            </xs:annotation>
                            <xs:complexType>
                              <xs:sequence>
                                <xs:element name="ErrorInfo" type="TErrorInfo">
                                  <xs:annotation>
                                    <xs:documentation>Сведения об ошибке</xs:documentation>
                                  </xs:annotation>
                                </xs:element>
                                <xs:element name="DocumentNumber">
                                  <xs:annotation>
                                    <xs:documentation>Номер документа</xs:documentation>
                                  </xs:annotation>
                                  <xs:simpleType>
                                    <xs:restriction base="xs:string">
                                      <xs:length value="50" />
                                    </xs:restriction>
                                  </xs:simpleType>
                                </xs:element>
                                <xs:element name="DocumentDate" minOccurs="0">
                                  <xs:annotation>
                                    <xs:documentation>Дата выдачи документа</xs:documentation>
                                  </xs:annotation>
                                  <xs:simpleType>
                                    <xs:restriction base="xs:date" />
                                  </xs:simpleType>
                                </xs:element>
                                <xs:element name="ApplicationNumber">
                                  <xs:annotation>
                                    <xs:documentation>Номер заявления</xs:documentation>
                                  </xs:annotation>
                                  <xs:simpleType>
                                    <xs:restriction base="xs:string">
                                      <xs:length value="50" />
                                    </xs:restriction>
                                  </xs:simpleType>
                                </xs:element>
                                <xs:element name="RegistrationDate">
                                  <xs:annotation>
                                    <xs:documentation>Дата регистрации заявления</xs:documentation>
                                  </xs:annotation>
                                  <xs:simpleType>
                                    <xs:restriction base="xs:dateTime" />
                                  </xs:simpleType>
                                </xs:element>
                              </xs:sequence>
                            </xs:complexType>
                          </xs:element>
                        </xs:sequence>
                      </xs:complexType>
                    </xs:element>
                    <xs:element name="CustomDocuments" minOccurs="0">
                      <xs:annotation>
                        <xs:documentation>Иные документы</xs:documentation>
                      </xs:annotation>
                      <xs:complexType>
                        <xs:sequence>
                          <xs:element name="CustomDocument" maxOccurs="unbounded">
                            <xs:annotation>
                              <xs:documentation>Иной документ</xs:documentation>
                            </xs:annotation>
                            <xs:complexType>
                              <xs:sequence>
                                <xs:element name="ErrorInfo" type="TErrorInfo">
                                  <xs:annotation>
                                    <xs:documentation>Сведения об ошибке</xs:documentation>
                                  </xs:annotation>
                                </xs:element>
                                <xs:element name="DocumentNumber">
                                  <xs:annotation>
                                    <xs:documentation>Номер документа</xs:documentation>
                                  </xs:annotation>
                                  <xs:simpleType>
                                    <xs:restriction base="xs:string">
                                      <xs:length value="50" />
                                    </xs:restriction>
                                  </xs:simpleType>
                                </xs:element>
                                <xs:element name="DocumentDate" minOccurs="0">
                                  <xs:annotation>
                                    <xs:documentation>Дата выдачи документа</xs:documentation>
                                  </xs:annotation>
                                  <xs:simpleType>
                                    <xs:restriction base="xs:date" />
                                  </xs:simpleType>
                                </xs:element>
                                <xs:element name="ApplicationNumber">
                                  <xs:annotation>
                                    <xs:documentation>Номер заявления</xs:documentation>
                                  </xs:annotation>
                                  <xs:simpleType>
                                    <xs:restriction base="xs:string">
                                      <xs:length value="50" />
                                    </xs:restriction>
                                  </xs:simpleType>
                                </xs:element>
                                <xs:element name="RegistrationDate">
                                  <xs:annotation>
                                    <xs:documentation>Дата регистрации заявления</xs:documentation>
                                  </xs:annotation>
                                  <xs:simpleType>
                                    <xs:restriction base="xs:dateTime" />
                                  </xs:simpleType>
                                </xs:element>
                              </xs:sequence>
                            </xs:complexType>
                          </xs:element>
                        </xs:sequence>
                      </xs:complexType>
                    </xs:element>
                    <xs:element name="EntranceTestResults" minOccurs="0">
                      <xs:annotation>
                        <xs:documentation>Результаты вступительных испытаний</xs:documentation>
                      </xs:annotation>
                      <xs:complexType>
                        <xs:sequence>
                          <xs:element name="EntranceTestResult" maxOccurs="unbounded">
                            <xs:annotation>
                              <xs:documentation>Результат вступительного испытания</xs:documentation>
                            </xs:annotation>
                            <xs:complexType>
                              <xs:all>
                                <xs:element name="ErrorInfo" type="TErrorInfo">
                                  <xs:annotation>
                                    <xs:documentation>Сведения об ошибке</xs:documentation>
                                  </xs:annotation>
                                </xs:element>
                                <xs:element name="ResultSourceType">
                                  <xs:annotation>
                                    <xs:documentation>Основания для оценки</xs:documentation>
                                  </xs:annotation>
                                  <xs:simpleType>
                                    <xs:restriction base="xs:string" />
                                  </xs:simpleType>
                                </xs:element>
                                <xs:element name="SubjectName">
                                  <xs:annotation>
                                    <xs:documentation>Дисциплина вступительного испытания</xs:documentation>
                                  </xs:annotation>
                                  <xs:simpleType>
                                    <xs:restriction base="xs:string">
                                      <xs:length value="50" />
                                    </xs:restriction>
                                  </xs:simpleType>
                                </xs:element>
                                <xs:element name="ResultValue">
                                  <xs:annotation>
                                    <xs:documentation>Балл</xs:documentation>
                                  </xs:annotation>
                                  <xs:simpleType>
                                    <xs:restriction base="xs:decimal" />
                                  </xs:simpleType>
                                </xs:element>
                                <xs:element name="ApplicationNumber">
                                  <xs:annotation>
                                    <xs:documentation>Номер заявления</xs:documentation>
                                  </xs:annotation>
                                  <xs:simpleType>
                                    <xs:restriction base="xs:string">
                                      <xs:length value="50" />
                                    </xs:restriction>
                                  </xs:simpleType>
                                </xs:element>
                                <xs:element name="RegistrationDate">
                                  <xs:annotation>
                                    <xs:documentation>Дата регистрации заявления</xs:documentation>
                                  </xs:annotation>
                                  <xs:simpleType>
                                    <xs:restriction base="xs:dateTime" />
                                  </xs:simpleType>
                                </xs:element>
                              </xs:all>
                            </xs:complexType>
                          </xs:element>
                        </xs:sequence>
                      </xs:complexType>
                    </xs:element>
                    <xs:element name="ApplicationCommonBenefits" minOccurs="0">
                      <xs:annotation>
                        <xs:documentation>Общие льготы, предоставленные абитуриентам</xs:documentation>
                      </xs:annotation>
                      <xs:complexType>
                        <xs:sequence>
                          <xs:element name="ApplicationCommonBenefit" maxOccurs="unbounded">
                            <xs:annotation>
                              <xs:documentation>Общая льгота предоставленная абитуриенту</xs:documentation>
                            </xs:annotation>
                            <xs:complexType>
                              <xs:all>
                                <xs:element name="ErrorInfo" type="TErrorInfo">
                                  <xs:annotation>
                                    <xs:documentation>Сведения об ошибке</xs:documentation>
                                  </xs:annotation>
                                </xs:element>
                                <xs:element name="BenefitKindName">
                                  <xs:annotation>
                                    <xs:documentation>Наименование вида льготы</xs:documentation>
                                  </xs:annotation>
                                  <xs:simpleType>
                                    <xs:restriction base="xs:string" />
                                  </xs:simpleType>
                                </xs:element>
                                <xs:element name="ApplicationNumber">
                                  <xs:annotation>
                                    <xs:documentation>Номер заявления</xs:documentation>
                                  </xs:annotation>
                                  <xs:simpleType>
                                    <xs:restriction base="xs:string">
                                      <xs:length value="50" />
                                    </xs:restriction>
                                  </xs:simpleType>
                                </xs:element>
                                <xs:element name="RegistrationDate">
                                  <xs:annotation>
                                    <xs:documentation>Дата регистрации заявления</xs:documentation>
                                  </xs:annotation>
                                  <xs:simpleType>
                                    <xs:restriction base="xs:dateTime" />
                                  </xs:simpleType>
                                </xs:element>
                              </xs:all>
                            </xs:complexType>
                          </xs:element>
                        </xs:sequence>
                      </xs:complexType>
                    </xs:element>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element name="Conflicts">
          <xs:annotation>
            <xs:documentation>Сведения о связанных (конфликтных) данных для удаления</xs:documentation>
          </xs:annotation>
          <xs:complexType>
            <xs:all>
              <xs:element name="Applications" minOccurs="0">
                <xs:annotation>
                  <xs:documentation>Заявления</xs:documentation>
                </xs:annotation>
                <xs:complexType>
                  <xs:sequence>
                    <xs:element name="Application" maxOccurs="unbounded">
                      <xs:annotation>
                        <xs:documentation>Заявление</xs:documentation>
                      </xs:annotation>
                      <xs:complexType>
                        <xs:all>
                          <xs:element name="ApplicationNumber">
                            <xs:annotation>
                              <xs:documentation>Номер заявления</xs:documentation>
                            </xs:annotation>
                            <xs:simpleType>
                              <xs:restriction base="xs:string">
                                <xs:length value="50" />
                              </xs:restriction>
                            </xs:simpleType>
                          </xs:element>
                          <xs:element name="RegistrationDate">
                            <xs:annotation>
                              <xs:documentation>Дата регистрации заявления</xs:documentation>
                            </xs:annotation>
                            <xs:simpleType>
                              <xs:restriction base="xs:dateTime" />
                            </xs:simpleType>
                          </xs:element>
                        </xs:all>
                      </xs:complexType>
                    </xs:element>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
              <xs:element name="EntranceTestResults" minOccurs="0">
                <xs:annotation>
                  <xs:documentation>Результаты вступительных испытаний</xs:documentation>
                </xs:annotation>
                <xs:complexType>
                  <xs:sequence>
                    <xs:element name="EntranceTestsResultID" maxOccurs="unbounded">
                      <xs:annotation>
                        <xs:documentation>ИД вступительного испытания</xs:documentation>
                      </xs:annotation>
                      <xs:simpleType>
                        <xs:restriction base="xs:unsignedInt" />
                      </xs:simpleType>
                    </xs:element>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
              <xs:element name="ApplicationCommonBenefits" minOccurs="0">
                <xs:annotation>
                  <xs:documentation>Общие льготы, предоставленные абитуриентам</xs:documentation>
                </xs:annotation>
                <xs:complexType>
                  <xs:sequence>
                    <xs:element name="ApplicationCommonBenefitID">
                      <xs:annotation>
                        <xs:documentation>ИД общей льготы</xs:documentation>
                      </xs:annotation>
                      <xs:simpleType>
                        <xs:restriction base="xs:unsignedInt" />
                      </xs:simpleType>
                    </xs:element>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
            </xs:all>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Error" type="TError">
    <xs:annotation>
      <xs:documentation>Сведения об ошибке</xs:documentation>
    </xs:annotation>
  </xs:element>
</xs:schema>